<nav class="navbar fixed-top navbar-expand-md navbar-light">
    <div class="container">
      <a routerLink="" class="navbar-brand">known</a>
      <a routerLink="dashboard" class="navbar-brand">Dashboard</a>
      
      
      <!-- Temp removing the header components related to the button
        <button type="button" data-toggle="collapse" data-target="#navbarMain" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarMain" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="about" class="nav-link">About </a>
          </li>
        </ul>
      </div>
      -->
    </div>
  </nav>
  <div class="container content">
    <router-outlet></router-outlet>
    <footer>
      <div class="row">
        <div class="col-12">
          <p>Find who is 'known' in your organization.</p>
        </div>
      </div>
    </footer>
  </div>







