extends layout

block content
  h1= pageHeader.title

   h4
    form#addNew(action="", method= "POST",  role="form")
      div.form-group 
        label(for='title') Title:
        input#title.form-control(type='text', name='title')
      div.form-group 
        label(for='description') Description:
        input#description.form-control(type='text', name='description')
      div.form-group 
        label(for='lead') Lead:
        input#lead.form-control(type='text', name='lead')
      div.form-group 
        label(for='teamMembers') Team Members:
        input#teamMembers.form-control(type='text', name='teamMembers')
      div.form-group 
        label(for='goal') Goal:
        input#goal.form-control(type='text', name='goal')
      div.form-group 
        label(for='outcomes') Outcomes:
        input#outcomes.form-control(type='text', name='outcomes')
      div.form-group 
        label(for='completion') Completion:
        input#completion.form-control(type='text', name='completion')
      a.btn.btn-primary.float-right(href=`/`) Add Project




