extends layout

block content
  .error= message 

  app-home-list Es Coming...
  //-    comment here 

block scripts
  script(src='/build/runtime.a66f828dca56eeb90e02.js')
  script(src='/build/polyfills.7fb637d055581aa28d51.js')
  script(src='/build/main.45245dd1cf3d856859e4.js')

