<app-page-header [content]="pageContentInsight.header"></app-page-header>
<div class="column">
    <div class="card card-secondary">
        <div class="card-block">
                <div class="col-10 col-md-6">{{ pageContentInsight.contentKnownIs }}</div>
        </div>
      </div>

    <div class="card card-secondary">
          <div class="card-block">
              <div class="col-12 col-lg-8">{{ pageContentInsight.contentPeople }}</div>
        </div>
      </div>

    </div>

<app-page-header [content]="pageContentManage.header"></app-page-header>
<div class="card card-secondary">
    <div class="card-block">
        <div class="col-12 col-lg-8">{{ pageContentInsight.contentNumbers }}</div>
  </div>
 </div>
<app-add-project></app-add-project>




  